@model LocationIp.CityBlock

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CityBlock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Network)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Network)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeonameId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeonameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredCountryGeonameId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredCountryGeonameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepresentedCountryGeonameId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepresentedCountryGeonameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAnonymousProxy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAnonymousProxy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSatelliteProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSatelliteProvider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccuracyRadius)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccuracyRadius)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CityBlocksId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
